@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 270 20.7% 7.45;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 97.6%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 0 0% 97.6%;
    --muted-foreground: 0 0% 53.3%;
    --accent: 0 0% 97.6%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 270 20.7% 7.45%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 270 20.7% 7.45%;
    --foreground: 210 40% 98%;
    --card: 270 20.7% 7.45;
    --card-foreground: 210 40% 98%;
    --popover: 270 20.7% 7.45%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 275.71 12.2% 13.15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 275.71 12.2% 13.15%;
    --muted-foreground: 0, 0%, 53%;
    --accent: 275.71 12.2% 13.15%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 275.71 12.2% 20%;
    --input: 275.71 12.2% 20%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .content-wrapper section {
    @apply mb-9;
  }

  .content-wrapper h1 {
    @apply text-4xl font-bold leading-tight mb-4;
  }

  .content-wrapper h2 {
    @apply text-lg font-semibold leading-snug mb-1;
  }

  .content-wrapper p {
    @apply text-base text-muted-foreground mb-2 font-light;
  }

  .content-wrapper ul,
  .content-wrapper ol {
    @apply ml-3 mb-2 list-disc;
  }

  .content-wrapper ul {
    @apply list-disc pl-2 text-muted-foreground;
  }

  .content-wrapper li {
    @apply mb-1 font-light;
  }

  .content-wrapper a {
    @apply text-primary underline;
  }

  .content-wrapper b {
    @apply font-semibold text-card-foreground;
  }

  .content-wrapper pre {
    @apply rounded-xl text-sm font-mono p-4 !important;
  }

  .content-wrapper kbd {
    @apply text-sm bg-muted px-1 py-1 rounded-lg;
  }
}