name: CI

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - check: "run format:check"
            name: Run Prettier
          - check: "run lint"
            name: Run ESLint
          - check: "run build"
            name: Build project
          - check: "test"
            name: Run tests

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 20.9.0

      - name: Install dependencies
        run: npm install

      - name: ${{ matrix.name }}
        run: npm ${{ matrix.check }}
